syntax: glob
.gitignore~

src/*.dSYM
src/*.o
src/*.mod
src/*.lo
src/.libs/

Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
configure~
depcomp
install-sh
libtool
ltmain.sh
m4
missing
src/libbutton90.la
src/Makefile
src/Makefile.in
src/samplebutton
